

.yellow{
	background-color: yellow;
}

.blue{
	background-color: lightblue;
}


.square{
	float: left;
	border-radius: 10px;
	margin-left: 30px;
}

.GuestProfile {
  color: #000000;
  padding: 10px;
}
