body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('images/bg.jpg');
  background-size: 100%;
  background-attachment: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

.btn-primary { color: #ffffff;}
.btn-secondary { color: #000000;}
.btn-success{ color:#ffffff;  }


/* Header */
.myHeader {
  background-color: #ffffff;
  width: 100%;
  color: #000000;
  display: block;
  align-items: center;
  text-align: center;
}

/* Footer */
.myFooter {
  background-color: #ffffff;
  height: 40px;
  vertical-align: middle;
  color: #000000;
  padding-top: 10px;
  width: 100%;
}


/* Authentication page */
.SignIn {
  height: 80vh;

}

.formSignIn {
  background-color: #ffffff;
  border-radius: 30px;
  padding:30px;
  display: inline-block;
  color: #000000;
  margin-top: 10%;
}

.form-control {
  width: 300px;
}

/* Welcome page */
.Welcome input {
  color: #000000;
}

.Welcome button {
  color: #000000;
}

.Welcome .btn-primary {
  color: #ffffff;
}

.txtParty {
  width: 200px;
}

.partyHistory {
  background-color: #9999ff;
  color:grey;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px;
  color: white;
}

/* Create Guest page */
.CreateGuestProfile {
  height: 80vh;
}

.GuestProfile {
  color: #000000;
  padding:20px;
  border-radius: 20px;
}

.GuestProfile .btn-danger {
  color:#ffffff;
}

/* Select Drink page */
.drinkCard {
   border-radius: 10px;
   padding-top: 10px;
   background-color: #333366;
   margin:5px;
}

.FilterDrink {
  border-bottom: 5px double #ffffff;
  padding-left:0;

}

.FilterDrink input {
  color: #000000;
}

.chosenDrink button {
  color: #000000;
}

.chosenDrink .btn {
  color: #ffffff;
}

.partyDetail {
  border-bottom: 5px double #ffffff;
  background-color: grey;
  margin-top: 10px;
  font-size: 20px;
}


/* Summary page */
.Summary {
  height: 80vh;
  text-align: center;
  padding-top: 20px;


}

.SummaryInside {
  background-color: white;
  color: black;
  border-radius: 20px;
    padding:20px;
    display:inline-block;
  width: 50%;

}

.SummaryInside h1{
  border-bottom: 2px double black;
  margin-bottom: 30px;
  margin-top:0;
}

.SummaryInside .listOfDrink {
  font-size: 15pt;
  margin-top:20px;
}

.Summary .divDrinkList {
  text-align: center;
}

.drinkList {
  border-radius: 10px;
  padding-top: 10px;
  background-color: #333366;
  color: white;
}

/* Final page */
.Final {
  height: 80vh;
  text-align: center;
  margin-top:20%;
}
