body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('images/bg.jpg');
  background-size: 100%;
  background-attachment: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

.btn-primary { color: #ffffff;}
.btn-secondary { color: #000000;}
.btn-success{ color:#ffffff;  }


/* Header */
.myHeader {
  background-color: #ffffff;
  width: 100%;
  color: #000000;
  display: block;
  align-items: center;
  text-align: center;
}

/* Footer */
.myFooter {
  background-color: #ffffff;
  height: 40px;
  vertical-align: middle;
  color: #000000;
  padding-top: 10px;
  width: 100%;
}


/* Authentication page */
.SignIn {
  height: 80vh;

}

.formSignIn {
  background-color: #ffffff;
  border-radius: 30px;
  padding:30px;
  display: inline-block;
  color: #000000;
  margin-top: 10%;
}

.form-control {
  width: 300px;
}

/* Welcome page */
.Welcome input {
  color: #000000;
}

.Welcome button {
  color: #000000;
}

.Welcome .btn-primary {
  color: #ffffff;
}

.txtParty {
  width: 200px;
}

/* Create Guest page */
.CreateGuestProfile {
  height: 80vh;
}

.GuestProfile {
  color: #000000;
  padding:20px;
  border-radius: 20px;
}

.GuestProfile .btn-danger {
  color:#ffffff;
}

/* Select Drink page */
.drinkCard {
   border-radius: 10px;
   padding-top: 10px;
   background-color: #333366;
}

.FilterDrink {
  border-bottom: 5px double #ffffff;
  padding-left:0;
}
