body {
  margin: 0;
  padding: 0;
  background-image: url('images/bg.jpg');
  background-size: 100%;
  background-attachment: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.Welcome {
  text-align: center;
  height: 80vh;
  position: center;
  vertical-align: middle;
  padding-top: 10vh;
  /*background-color: #ff0000;*/
}

input {
  color: #000000;
}

select {
  color: #000000;
}

.btn{
  color: #000000;
}

.btn-primary{
  color: #ffffff;
}
